/* Twój styl CSS - przykładowy */
body {
  font-family: 'Courier New', Courier, monospace, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #2D3304;
  color: #F0F2DF;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

nav {
  margin-top: 20px;
}

.menu {
  list-style-type: none;
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.menu li {
  margin-right: 20px;
}

.menu li a {
  color: #F0F2DF;
  text-decoration: none;
  transition: color 0.3s ease-in-out; /* Dodaj płynny przejście */
}

.menu li a:hover {
  color: #04AA6D; /* Zmiana koloru przy najechaniu myszką */
}

#clock,
#weather {
  margin-left: auto;
  margin-right: 20px;
}

.main {
  padding: 20px;
}

footer {
  background-color: #515919;
  color: #F0F2DF;
  text-align: center;
  padding: 10px;
}

.button {
  background-color: #515919;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: block;
  margin: 20px auto;
  font-size: 16px;
  cursor: pointer;
}

.button:hover{
  color: #04AA6D;
  transition: color 0.3s ease-in-out; /* Dodaj płynny przejście */
}

.cv-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width: 50%;
  padding: 20px;
  background-color: #F0F2DF;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.cv-form label,
.cv-form input,
.cv-form textarea,
.cv-form button,
.cv-form #photo {
  margin-bottom: 15px;
  width: 100%;
  max-width: 400px;
  margin-top: 10px;
}

.cv-form button {
  background-color: #04AA6D;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;
}
